#login_page {
    font-family: 'Rubik', 'Oxygen', sans-serif;
    font-weight: 100;
}

#login_section {
    background-color: #3B5998;
    height: 82px;
    color: #ffffff;
    font-size: 12px;
}

.page_content_range {
    min-width: 600px;
    max-width: 1000px;
}

#logo {
    padding-top: 20px;
    font-size: 45px;
    font-weight: 900;
    font-family: 'Teko', sans-serif;
    width: 60%;
}

.login_div {
    padding-top: 17px;
    width: 15%;
}

.click_div {
    padding-top: 37px;
    width: 10%;
}

.login_filed {
    padding-top: 3px;
}

.login_button {
    background-color: #3a84bd;
    color: #ffffff;
    height: 20px;
    border: 1px solid #172955;
}

.input_text {
    background-color: rgb(255, 221, 110);
    height: 18px;
}

#forgot_account {
    padding-top: 5px;
    color: #8dc2fa;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.float_clear {
    clear: both;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.vertical-middle {
    vertical-align: middle;
}

.float_clear {
    clear: both;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.no_margin_top {
    margin-top: 0;
}

.no_margin_bottom {
    margin-bottom: 0;
}

.margin_auto_LR {
    margin-left: auto;
    margin-right: auto;
}

.margin_auto_TB {
    margin-top: auto;
    margin-bottom: auto;
}

#sign_up_section {
    background-color: #eeeeee;
    height: 584px;
}

#sign_up_section_title {
    font-size: 28px;
    font-weight: 900;
    width: 408px;
    padding: 42px 0 24px 0;
}

#body_left {
    width: 565px;
    height: 378px;
    padding: 20px 0px;
}

#body_right {
    width: 40%;
    height: 543px;
    padding: 20px 0px;
}

.body_left_item {
    height: 56px;
    margin-top: 14px;
    padding-bottom: 10px;
}

.body_left_item-icon {
    font-size: 50px;
    color: rgb(158, 166, 187);
    width: 75px;
}

.body_left_item_text-section {
    margin: 15px 0 0 0;
}

.body_left_item_text {
    color: rgb(157, 150, 150);
    font-weight: 100;
}

#sign-up-title {
    font-size: 35px;
    font-weight: 900;
}

#sing_up_form input {
    margin: 5px 0;
    padding: 7px;
    font-size: 18px;
    border: 1px solid #8f929a;
    border-radius: 5px;
}

#birthday_section {
    margin: 15px 0;
}